@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap");
#typingtest-admin-wrapper {
  width: 100%;
}
#typingtest-admin-wrapper #typingtest-admin-header {
  text-align: center;
  font-size: 32px;
  margin: 10px auto;
  width: auto;
  padding: 20px 0px;
}
#typingtest-admin-wrapper #typingtest-admin-form-title {
  text-align: center;
  font-size: 28px;
  margin: 20px auto;
  width: auto;
}
#typingtest-admin-wrapper form {
  width: 50%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
#typingtest-admin-wrapper form select {
  margin: auto;
  margin-bottom: 15px;
}
#typingtest-admin-wrapper form .select-label {
  margin: auto;
}
#typingtest-admin-wrapper form textarea {
  margin: 20px 0px;
}
#typingtest-admin-wrapper form label {
  font-size: 18px;
}
#typingtest-admin-wrapper form button {
  width: 50%;
  height: auto;
  margin: auto;
  border-radius: 5px;
  font-size: 18px;
}
#typingtest-admin-wrapper form button:hover {
  background-color: lightgray;
}

/**END ADMIN SECTION **/
.typingtest-container {
  font-family: "Ruda", sans-serif;
  display: flex;
}

.lesson-selector {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.25fr 1fr;
}
.lesson-selector .selectors-wrapper {
  grid-row: 1/2;
}
.lesson-selector .selectors-wrapper .selector-label-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.lesson-selector .buttons-wrapper {
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 0.25fr 0.25fr;
  grid-template-columns: 1fr 1fr;
}
.lesson-selector .buttons-wrapper .start-button {
  grid-row: 1/2;
  grid-column: 1/3;
}
.lesson-selector .buttons-wrapper .profile-button {
  grid-row: 2/3;
  grid-column: 1/2;
}
.lesson-selector .buttons-wrapper .help-button {
  grid-row: 2/3;
  grid-column: 2/3;
}
.lesson-selector .buttons-wrapper .button {
  margin: 0.5rem;
}

.lesson-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 2rem;
}

.lesson-content {
  width: inherit;
  height: inherit;
  padding: 1.5rem;
  margin: 2rem 0.5rem 0 0.5rem;
}

.input-area {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  resize: none;
  font-size: 1.5rem;
  border: none;
  width: inherit;
  height: inherit;
}

div.typingtest-container > div.lesson-wrapper > .input-area {
  padding: 1.5rem;
  margin: 0;
  border: 0;
  color: transparent;
}

.typingtest-heading {
  margin-bottom: 20px;
  font-size: 3rem;
  color: black;
}

.typingtest-header {
  display: flex;
  align-items: center;
}

.timer, .errors, .accuracy,
.wpm {
  background-color: rgba(2, 159, 178, 0.8);
  height: 100px;
  width: 120px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 5px 8px 5px;
}

.wpm {
  display: none;
}

.header-text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.current-time, .current-errors, .current-accuracy,
.current-wpm {
  font-size: 2.75rem;
  width: 100px;
}

.lesson-content {
  background-color: rgba(2, 159, 178, 0.5);
  font-size: 1.5rem;
  box-shadow: black 5px 8px 5px;
}

.restart-button {
  background-color: #326765;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  box-shadow: black 5px 8px 5px;
}

.char-input {
  color: #029fb2;
}

.incorrect-char {
  color: #941f16;
  text-decoration: underline;
}

.correct-char {
  color: #000000;
}

#user-profile-container {
  display: none;
}

/*# sourceMappingURL=main.css.map */
