@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap");
#typingtest-admin-wrapper {
  width: 100%;
}
#typingtest-admin-wrapper #typingtest-admin-header {
  text-align: center;
  font-size: 32px;
  margin: 10px auto;
  width: auto;
  padding: 20px 0px;
}
#typingtest-admin-wrapper #typingtest-admin-form-title {
  text-align: center;
  font-size: 28px;
  margin: 20px auto;
  width: auto;
}
#typingtest-admin-wrapper form {
  width: 50%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
#typingtest-admin-wrapper form select {
  margin: auto;
  margin-bottom: 15px;
}
#typingtest-admin-wrapper form .select-label {
  margin: auto;
}
#typingtest-admin-wrapper form textarea {
  margin: 20px 0px;
}
#typingtest-admin-wrapper form label {
  font-size: 18px;
}
#typingtest-admin-wrapper form button {
  width: 50%;
  height: auto;
  margin: auto;
  border-radius: 5px;
  font-size: 18px;
}
#typingtest-admin-wrapper form button:hover {
  background-color: lightgray;
}

/**END ADMIN SECTION **/
#pf-timerBar__wrapper {
  margin-bottom: 2rem;
}
#pf-timerBar__wrapper #pf-timerBar__base {
  background-color: #666666;
  height: 3rem;
  border-radius: 10rem;
  position: relative;
  z-index: 0;
}
#pf-timerBar__wrapper #pf-timerBar__progress {
  background-color: #000000;
  height: inherit;
  border-radius: inherit;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}
#pf-timerBar__wrapper #pf-timerBar__text {
  height: inherit;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03cce4;
  font-size: larger;
}

#pf-typingTest__container {
  font-family: "Ruda", sans-serif;
  display: flex;
  flex-wrap: nowrap;
}

.lesson-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.lesson-wrapper .typingtest-statsbar {
  display: flex;
  align-items: center;
}
.lesson-wrapper .typingtest-statsbar .statsbox {
  background-color: rgba(2, 159, 178, 0.8);
  padding: 1rem;
  border-radius: 0.8rem;
  margin: 1rem 0 1rem 0;
}
.lesson-wrapper .typingtest-statsbar .statsbox-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: #3c4c52;
}
.lesson-wrapper .typingtest-statsbar .statsbox-current {
  font-size: 2.5rem;
  color: #1c2326;
}
.lesson-wrapper .typingtest-statsbar #errors {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.lesson-wrapper #lessontext-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.lesson-wrapper .lesson-text {
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 0.8rem;
  top: 0;
  left: 0;
  overflow: hidden;
}
.lesson-wrapper #lesson-content {
  background-color: rgba(2, 159, 178, 0.5);
  z-index: 10;
}
.lesson-wrapper #lesson-input {
  background-color: rgba(148, 31, 22, 0);
  color: transparent;
  resize: none;
  border: none;
  z-index: 20;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}
.lesson-wrapper #lesson-input:focus {
  outline: none;
}

body.is-dark-theme .statsbox-label {
  color: black;
}

.char-cursor {
  background-color: white;
}

.char-input {
  color: #028899;
  font-weight: bold;
}

.incorrect-char {
  color: #941f16;
  font-weight: bold;
}

.correct-char {
  color: #000000;
  font-weight: bold;
}

#user-profile-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .typingtest-container {
    flex-direction: column;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    min-width: 100% !important;
  }
  .typingtest-container .selector-label-wrapper, .typingtest-container .button {
    margin-left: 0 !important;
  }

  .lesson-wrapper {
    margin: 0 0 0 0;
    min-width: 100%;
    max-width: 100%;
  }

  .statsbox-current {
    width: 20vw;
  }
}
@media screen and (min-width: 769px) {
  .typingtest-container {
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding: 0;
  }

  .lesson-wrapper {
    margin: 0 0 0 4rem;
    max-width: 50%;
  }

  .statsbox-current {
    width: 5vw;
  }
}
.lesson-selector {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.1fr 1fr;
}
.lesson-selector .selectors-wrapper {
  grid-row: 1/2;
}
.lesson-selector .selectors-wrapper .selector-label-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.lesson-selector .selectors-wrapper .selector-label-wrapper .selector {
  border-radius: 0.8rem;
  border: 2px solid #1c2326;
  background-color: rgba(255, 255, 255, 0.6);
}
.lesson-selector .selectors-wrapper .selector-label-wrapper .selector:focus {
  outline: none;
}
.lesson-selector .selectors-wrapper .selector-label-wrapper .selector::after {
  border-radius: 0.8rem;
}
.lesson-selector .buttons-wrapper {
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 0.25fr 0.25fr;
  grid-template-columns: 1fr 1fr;
}
.lesson-selector .buttons-wrapper .start-button {
  grid-row: 1/2;
  grid-column: 1/3;
}
.lesson-selector .buttons-wrapper .profile-button {
  grid-row: 2/3;
  grid-column: 1/2;
}
.lesson-selector .buttons-wrapper .help-button {
  grid-row: 2/3;
  grid-column: 2/3;
}
.lesson-selector .buttons-wrapper .button {
  border-radius: 0.8rem;
  font-family: "Ruda", sans-serif;
  margin: 0.5rem;
}
.lesson-selector .buttons-wrapper .button:focus {
  outline: none;
}
.lesson-selector select {
  font-family: "Ruda", sans-serif;
  padding: 0.5rem;
}

#user-profile-container {
  font-family: "Ruda", sans-serif;
}
#user-profile-container h1, #user-profile-container h2, #user-profile-container h3, #user-profile-container h4, #user-profile-container h5, #user-profile-container h6 {
  font-family: "Ruda", sans-serif;
}

#user-profile-container {
  max-width: 65%;
}
#user-profile-container h2 {
  font-size: 2.5rem;
}
#user-profile-container .wrapper-buttons:first-child {
  margin-bottom: 2rem;
}
#user-profile-container .wrapper-buttons:last-child {
  margin-top: 3rem;
}
#user-profile-container .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#user-profile-container .label-profile {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
}
#user-profile-container .label-stats {
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
}
#user-profile-container .value-stats {
  margin-top: 1rem;
}
#user-profile-container .heading-profile-stats {
  text-transform: uppercase;
  font-weight: bolder;
}
#user-profile-container .wrapper-stats {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: repeat(1fr);
}
#user-profile-container .button {
  border-radius: 0.8rem;
  font-family: "Ruda", sans-serif;
}
#user-profile-container .button:focus {
  outline: none;
}
#user-profile-container #user-profile-basic-info {
  background-color: rgba(28, 35, 38, 0.5);
  padding: 2rem;
  border-radius: 0.8rem;
}
#user-profile-container .stats-info-section {
  background-color: rgba(28, 35, 38, 0.2);
  padding: 2rem;
  border-radius: 0.8rem;
}
#user-profile-container .graph-div-wrapper {
  margin: 3rem 0 3rem 0;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }

  #user-profile-basic-info, .stats-info-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  div.user-profile-container > div.wrapper > div#today_statsInfoSection {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media screen and (min-width: 1025px) {
  #today_statsInfoSection {
    margin: 0 1rem 0 1rem;
  }
}
#pf-helpModal__container {
  font-family: "Ruda", sans-serif;
}
#pf-helpModal__container .modal-dialog {
  margin: 7.2rem auto;
  max-width: 80vw;
}
#pf-helpModal__container .modal-title {
  text-transform: uppercase;
  font-weight: bold;
}
#pf-helpModal__container .modal-body {
  display: flex;
  flex-direction: column;
}
#pf-helpModal__container .modal-body button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: larger;
}
#pf-helpModal__container .pf-helpModal__paragraph {
  font-size: larger;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
#pf-helpModal__container .pf-helpModal__detail, #pf-helpModal__container .pf-helpModal__detail--list {
  font-size: small;
  margin-bottom: 0;
  margin-left: 1.5rem;
}
#pf-helpModal__container .pf-helpModal__detail--list {
  margin-left: 3rem;
}
#pf-helpModal__container mark {
  background-color: rgba(2, 159, 178, 0.2);
  border-radius: 0.5rem;
}
#pf-helpModal__container .modal-footer {
  display: flex;
  justify-content: space-between;
}
#pf-helpModal__container .modal-footer #pf-helpModal__button--close {
  font-family: "Ruda", sans-serif;
  font-size: larger;
}

#pf-helpModal__container.pf-darkmode div.modal-content {
  background-color: #212529;
}
#pf-helpModal__container.pf-darkmode button.btn-close#pf-helpModal__button--x {
  background-color: #ffffff;
}
#pf-helpModal__container.pf-darkmode p, #pf-helpModal__container.pf-darkmode ul li, #pf-helpModal__container.pf-darkmode mark {
  color: rgba(255, 255, 255, 0.8);
}

.pf-button--rounded {
  border-radius: 0.8rem;
  font-family: "Ruda", sans-serif;
}
.pf-button--rounded:focus {
  outline: none;
}

/*# sourceMappingURL=main.css.map */
