@use '../colours.scss' as colours;
@use '../mixins.scss' as mixins;


#pf-helpModal__container {
    font-family: 'Ruda', sans-serif;

    .modal-dialog {
        margin: 7.2rem auto;
        max-width: 80vw;
    }

    .modal-title {
        text-transform: uppercase;
        font-weight: bold;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
    
        button {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: larger;
        }
    }

    .pf-helpModal__paragraph {
        font-size: larger;
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }

    .pf-helpModal__detail {
        font-size: small;
        margin-bottom: 0;
        margin-left: 1.5rem;
        &--list {
            @extend .pf-helpModal__detail;
            margin-left: 3rem;
        }
    }

    mark {
        background-color: rgba(colours.$turquoiseblue, 20%);
        border-radius: 0.5rem;
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;

        #pf-helpModal__button--close {
            font-family: 'Ruda', sans-serif;
            font-size: larger;
        }
    }
    

} // end "pf_container_helpModal"