@use '../colours.scss' as colours;
@use '../mixins.scss' as mixins;


#pf-typingTest__container {
    font-family: 'Ruda', sans-serif;
    display: flex;
    flex-wrap: nowrap;
}

.lesson-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  
    .typingtest-statsbar {
        display: flex;
        align-items: center;
  
        .statsbox {
            background-color: rgba(colours.$turquoiseblue, 80%);
            padding: 1rem;
            border-radius: 0.8rem;
            margin: 1rem 0 1rem 0;
        }
    
        .statsbox-label {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 600;
            color: lighten(colours.$darkbluegrey, 15%);
        }
    
        .statsbox-current {
            font-size: 2.5rem;
            color: colours.$darkbluegrey;
        }
    
        #errors {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
  

    #lessontext-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(colours.$black, 0%);
    }
  
    .lesson-text {
        font-size: 1.5rem;
        padding: 2rem;
        border-radius: 0.8rem;
        top: 0;
        left: 0;
        overflow: hidden;
    }
  
    #lesson-content {
        background-color: rgba(colours.$turquoiseblue, 50%);
        z-index: 10;
    }
  
    #lesson-input {
        background-color: rgba(colours.$darkred, 0%);
        color: transparent;
        resize: none;
        border: none;
        z-index: 20;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
  
        &:focus {
        outline: none;
        }
    }
}
  
  
body.is-dark-theme .statsbox-label {
    color: darken(colours.$lightgrey, 45%);
}


.char-cursor {
    background-color: white;
}
   
.char-input {
    color: darken(colours.$turquoiseblue, 5%);
    font-weight: bold;
}
    
.incorrect-char {
    color: colours.$darkred;
    font-weight: bold;
    // text-decoration: underline;
}
    
.correct-char {
    color: colours.$black;
    font-weight: bold;
}

#user-profile-container {
    display: none;
}

  
@media screen and (max-width: 768px) {

    .typingtest-container {
        flex-direction: column;
        margin-right: 1rem !important;
        margin-left: 1rem !important;
        min-width: 100% !important;

        .selector-label-wrapper, .button {
            margin-left: 0 !important;
        }
    }

    .lesson-wrapper {
        margin: 0 0 0 0;
        min-width: 100%;
        max-width: 100%;
    }

    .statsbox-current {
        width: 20vw;
    }
}

@media screen and (min-width: 769px) {

    .typingtest-container {
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        padding: 0;
    }

    .lesson-wrapper {
        margin: 0 0 0 4rem;
        max-width: 50%;
    }

    .statsbox-current {
        width: 5vw;
    }
}