@use '../colours.scss' as colours;
@use '../mixins.scss' as mixins;

#user-profile-container {
    font-family: 'Ruda', sans-serif;
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Ruda', sans-serif;
    }
}


#user-profile-container {
    max-width: 100%;

    h2 {
        font-size: 2.5rem;
    }

    .wrapper-buttons:first-child {
        margin-bottom: 2rem;
    }
    .wrapper-buttons:last-child {
        margin-top: 3rem;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .label-profile {
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    
    .label-stats {
        opacity: 0.6;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .value-stats {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 2vh;
        margin-left: 10px;
        color: colours.$black;
    }

    .heading-profile-stats {
        text-transform: uppercase;
        font-weight: bolder;
    }

    .wrapper-stats {
        display: grid;
        grid-template-columns: 1.3fr 0.2fr;
        grid-template-rows: repeat(1fr);
        align-items: center;
    }

    .button {
        @include mixins.rounded-button();
    }


    #user-profile-basic-info {
        background-color: rgba(colours.$darkbluegrey, 40%);
        padding: 2rem;
        border-radius: 0.8rem;
    }

    .stats-info-section {
        background-color: rgba(colours.$darkbluegrey, 20%);
        padding: 2rem;
        border-radius: 0.8rem;
    }


    .graph-div-wrapper {
        margin: 3rem 0 3rem 0;
    }

    .output-profile {
        color: colours.$black;
    }

}



  
@media screen and (max-width: 1024px) {

    .wrapper {
        flex-direction: column;
    }

    #user-profile-basic-info, .stats-info-section {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    div.user-profile-container > div.wrapper > div#today_statsInfoSection {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}


@media screen and (min-width: 1025px) {
    #today_statsInfoSection {
        margin: 0 1rem 0 1rem;
    }
}