@use '../colours.scss' as colours;
@use '../mixins.scss' as mixins;


#user-profile-container {
    max-width: 65%;

    .wrapper-buttons:first-child {
        margin-bottom: 2rem;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .label-profile {
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1rem;
    }
    
    .label-stats {
        opacity: 0.6;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1rem;
    }

    .value-stats {
        margin-top: 1rem;
    }

    .heading-profile-stats {
        text-transform: uppercase;
        font-weight: bolder;
    }

    .wrapper-stats {
        display: grid;
        grid-template-columns: 0.6fr 0.3fr;
        grid-template-rows: repeat(1fr)
    }

    .button {
        @include mixins.rounded-button();
    }
}