@use '../colours.scss' as colours;
@use '../mixins.scss' as mixins;

.timer-bar {
    margin-bottom: 2rem;


    #timerbar-base {
        background-color: colours.$lightgrey;
        height: 2rem;
        position: relative;
        z-index: 0;
        border-radius: 1rem;
    }
    
    #timerbar-progress {
        background-color: colours.$black;
        height: inherit;
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        border-radius: 1rem;
    }

    #timerbar-text {
        position: absolute;
        z-index: 3;
        top: 0;
        width: 100%;
        color: lighten(colours.$turquoiseblue, 10%);
        display: flex;
        justify-content: center;
    }
}

