@use '../colours.scss' as colours;
@use '../mixins.scss' as mixins;


#pf-typingTest__container.pf-darkmode {
    background-color: colours.$verydarkgrey;

    div.lesson-selector {
        
        label.selector-label {
            color: rgba(colours.$white, 70%);
        }

        .button {
            color: transparentize(colours.$white, 0.1) !important;
        }
    }


    div.lesson-wrapper {

        div.lesson-text {
            background-color: rgba(colours.$turquoiseblue, 60%);
            color: colours.$white;
        }

        div.statsbox-label {
            color: rgba(colours.$white, 70%);
        }
    
    
    
    
        #pf-timerBar__wrapper {
    
            #pf-timerBar__progress {
                background-color: colours.$darkgrey;
            }
    
            #pf-timerBar__text {
                color: rgba(colours.$white, 60%);
            }
        }
    }
}